.wrapper {
	.categoryContainer {
		display: flex;
		justify-content: center;
		background-color: pink;
	}
}
.tabsContainer {
	overflow-x: scroll;
	scrollbar-width: none; // for FireFox
	&::-webkit-scrollbar {
		display: none;
	}
}
