.bottomFixBox {
	position: absolute !important;
	padding: 0 !important;
	width: 100%;
	bottom: 0;
	left: 0;
}

.hideScrollBar {
	overflow-y: scroll;
	scrollbar-width: none; // for FireFox
	flex-direction: row;
	&::-webkit-scrollbar {
		display: none;
	}
}
