.headerWrapper {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	margin: 0px;
	// padding: 0px 1rem;
	padding: 30px;
	z-index: 5;
	transition: top 0.2s ease 0s;
	backdrop-filter: blur(30px);
	background-color: #e4e4e4;
}
