@import '@/styles/screen.scss';

.homeWrapper {
	height: 100%;
	overflow: hidden;
	padding-top: calc(46px + 15px);
	@include lg {
		padding-top: 73.8px;
		padding-left: 116px;
		padding-right: 116px;
	}
}

.skewRectangle {
	width: 100vw;
	height: 214px;
	background: linear-gradient(90deg, #edf2f7 60%, #d53f8c 50%);
	transform: skewY(-5deg);
}
