.htmlContent {
	> p {
		> a {
			color: #3182ce;
			text-decoration: underline;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	> a {
		color: #3182ce;
		text-decoration: underline;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
